<template>
	<div>
		<div v-if="isLogin === false">
			<h1>Пожалуйста, авторизуйтесь!</h1>
			<form action="#" @submit.prevent="sendData()">
				<input type="text" placeholder="NAME" v-model="name">
				<input type="password" placeholder="PASSWORD" v-model="password">
				<p>{{name}}</p>
				<button>АВТОРИЗОВАТЬСЯ</button>
			</form>
		</div>
		<p v-else>Вы авторизованы</p>
		<p v-if="error === true">{{errorText}}</p>
	</div>
</template>

<script>
	export default {
		name: "Auth",
		data () {
			return {
				name: '',
				password: '',
				errorText: '',
				error: false
			}
		},
		methods: {
			sendData () {
				let xhr = new XMLHttpRequest();

				let getStatus = this.getStatus;
				xhr.open('POST', 'http://127.0.0.1:8081/server.js', false);

				let data = {
					name: this.name,
					password: this.password,
				};

				let stringData = JSON.stringify(data);

				xhr.onreadystatechange = function () {
					getStatus(JSON.parse(xhr.response));
				};

				xhr.send(stringData);
			},

			getStatus (response) {
				if(response.success === true) {
					this.error = false;
					this.$store.commit('setAuthState', this.isLogin);
					this.$store.commit('setName', this.name);
					localStorage.setItem('name', this.name);
					this.$router.push({path: '/content'})
				} else {
					this.isLogin = false;
					this.error = true;
					this.errorText = response.error;
				}
			}
		},
		mounted: function () {
			let user = localStorage.getItem('name');

			if (user !== null) {
				this.$store.commit('setName', user);
				this.$store.commit('setAuthState', true);
			}
			document.cookie = "userName=Vasya";
		},
		computed: {
			isLogin: function () {
				return this.$store.state.isLogin;
			},
		}
	}
</script>

<style scoped>

</style>
