<template>
	<div>
		<p v-if="isLogin === false">Авторизоваться</p>
		<p v-else>{{name}}</p>
	</div>
</template>

<script>
	export default {
		name: "Header",
		computed: {
			isLogin: function () {
				return this.$store.state.isLogin;
			},
			name: function () {
				return this.$store.state.name;
			}
		},
	}
</script>

<style scoped>

</style>
