<template>
  <div id="app">
    <Header></Header>
    <img src="./assets/logo.png">
    <!--<router-link to="/auth">AUTH </router-link>-->
    <!--<router-link to="/content">CONTENT</router-link>-->
    <router-view></router-view>
    <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import Header from './components/Header'

export default {
  name: 'app',
  components: {
    // HelloWorld
    Header,
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
